
.img{
    box-sizing: content-box;
    width: 100%;
    height: 300px;
}
.my-col{
    border: 3px solid red;
    position: fixed;
    margin-top: 5px;

}
.my-col1{
    border: 3px solid red;
    position: relative;
    margin-top: 5px;

}
.main{
    position: relative;
}