<!doctype html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel='stylesheet' href='style.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% include 'navbar.html'%}
  </head>
  <style>
  h4{
    color: blue;
}
.container-fluid sidebar{
  float:right;
}
  
.container-fluid row{
  float:left
}
  </style>
  <body>
            <div class="sidebar my-3  border">
        <p>hello this is sidebar</p>
        <p>hello this is sidebar</p>
        <p>hello this is sidebar</p>
        <p>hello this is sidebar</p>
        <p>hello this is sidebar</p>
        </div>
<div class='container-fluid'>
<div class='sidebar'>This is sidebar </div>
<div class="row">
{% for i in allnews %}
  <div class="col-sm-12 col-md-6 col-lg-4">

          <div class="card" style="width:Auto height:Auto">
            <img class="card-img-top" src="{{i.image.url}}" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">{{i.title}}</h4>
              <p class="card-text">.</p>
              <a href="#" class="btn btn-primary">More</a>
            </div>
          </div>
  </div>
{% endfor%}

</div>
</div>

 
 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>