{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>International</title>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

    {% include 'navbar.html'%}
<body >
{% comment %} fixed background {% endcomment %}
<div class='container-fluid'>
  <img class="img " src="{% static 'images/1.jpeg'%}" alt="Chania">
</div>

<!--Grids --> 
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 my-col">For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.

      </div>
      <div class='col-9 my-col1'>
      For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WW
      For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WW
      For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WW
      For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WW
      For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WW
      For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WW
      For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WW
      For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWFor 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WW


      
      </div>
    </div>
  </div>




























    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>